body {
	padding: 0px;
	margin: 0px;
}

#textToStartpage {
	color: #1A0834;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: right;
	padding-right: 2.5%;
	padding-top: 3%;
	float: right;
}

#link {
	text-decoration: none;
}

#main {
	padding-left: 15%;
	padding-right: 15%;
}

#ueberschrift {
	color: #1A0834;
	font-family: Tahoma, Geneva, sans-serif;
	padding-top: 5%;
}

#text {
	color: #8A888E;
	font-size: 1.25em;
	font-family: Tahoma, Geneva, sans-serif;
}

#trennlinie {
	width: 100%;
}

#ueber_mich {
	width: 65%;
	display: block;
	float: left;
}

#software {
	display: block;
	float: left;
}

#hardware {
	display: block;
	float: left;
}

#twitter {
	width: 30%;
	float: right;
}

#footer {
	float: left;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 1%;
	padding-bottom: 2%;
}

#icon {
	width: 25px;
}

#link {
	text-decoration: none;
}

.underline {
	border-bottom: 2px solid #EE3C3C;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 1.25em;
	color: #8A888E;
	font-family: Tahoma, Geneva, sans-serif;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.open_button {
	font-size: 30px;
	border: none;
	background-color: Transparent;
	outline: none;
	position: fixed;
	top: 5%;
	left: 5%;
}

@media screen and (max-height: 450) {
	.sidenav{padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}