body {
	padding: 0px;
	padding-top: 1%;
	margin: 0px;
}

#text_bereich {
	margin-right: auto;
	margin-left: auto;
	width: 35%;
}

#ueberschrift {
	font-family: Tahoma, Geneva, sans-serif;
	color: #1A0834
}

#text {
	color: #8A888E;
	font-size: 1.25em;
	font-family: Tahoma, Geneva, sans-serif;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 1.25em;
	color: #8A888E;
	font-family: Tahoma, Geneva, sans-serif;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.open_button {
	font-size: 30px;
	border: none;
	background-color: Transparent;
	outline: none;
	position: fixed;
	top: 5%;
	left: 5%;
}

@media screen and (max-height: 450) {
	.sidenav{padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}